@model RoleModel

<form asp-controller="Role" asp-action="Update" class="form-group">
    <h2 class="text-center text-color-blue">Update Role ID: @Model.Id</h2>

    <div class="form-group">
        <label asp-for="Name" class="mr-sm-2">Name:</label>
        <input asp-for="Name" class="form-control mb-2 mr-sm-2" />

        <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
    </div>

    @{
        if (Model != null && Model.Id > 0)
        {
            <input type="hidden" value="@Model.Id" name="Id" />
        }

        if (ViewBag.IsExistName != null)
        {
            <p class="font-weight-bold text-danger">@ViewBag.IsExistName</p>
        }
    }

    <a asp-action="Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-warning">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}