@model AddCountryViewModel

<form asp-controller="Country" asp-action="Update" class="form-group">
    <h2 class="text-center text-primary"><i>Update Country ID: @Model.Country.Id</i></h2>

    <div class="form-group">
        <label asp-for="Country.Name" class="mr-sm-2">Name:</label>
        <input asp-for="Country.Name" class="form-control mb-2 mr-sm-2" />

        <span asp-validation-for="Country.Name" class="text-danger font-weight-bold"></span>
    </div>

    @{
        if (Model.Country != null && Model.Country.Id > 0)
        {
            <input type="hidden" value="@Model.Country.Id" name="Country.Id" />
        }

        if (ViewBag.IsExistName != null)
        {
            <p class="font-weight-bold text-danger">@ViewBag.IsExistName</p>
        }
    }

    <a asp-action="Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-warning">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}