@model CountryModel

<form asp-controller="Country" asp-action="Update" class="form-group"> 
    <h2 class="text-center text-primary"><i>Update Country ID: @Model.Id</i></h2>

    <div class="form-group">
        <label asp-for="Name" class="mr-sm-2">Name:</label>
        <input asp-for="Name" class="form-control mb-2 mr-sm-2" />
    </div>    

    <div class="form-group">
        <label asp-for="CreationDateTime" class="mr-sm-2">Created Date/Time:</label>
        <input asp-for="CreationDateTime" class="form-control mb-2 mr-sm-2" />
    </div>

    <input type="hidden" value="@Model.Id" name="Id" />    

    <a asp-action="Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-warning">Update</button>
</form>