@model UploadImageShopViewModel

<form asp-controller="Shop" asp-action="UploadNewImage" enctype="multipart/form-data" class="form-group">
    <h2 class="text-center text-color-blue">Update Shop ID: @Model.Shop.Id</h2>  

    <div class="form-group">
        <label asp-for="Shop.CoverPhoto" class="mr-sm-2">Photo:</label>

        <div class="custom-file">
            <input type="file" asp-for="Shop.CoverPhoto" class="custom-file-input mb-2 mr-sm-2" id="customFile" />
            <label for="customFile" class="custom-file-label mr-sm-2">Choose Photo</label>
            <span asp-validation-for="Shop.CoverPhoto" class="text-danger font-weight-bold"></span>
        </div>
    </div>   

    @{
        if (Model.Shop != null && Model.Shop.Id > 0)
        {
            <input type="hidden" value="@Model.Shop.Id" name="Shop.Id" />
        }      
    }

    <a asp-action="Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-warning">Upload</button>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}