@section FooterMenuStyle
{
<link rel="stylesheet" href="~/css/footer.css" />
}

<div class="container">
    <div class="footer-main">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <a class="footer-main__logo" asp-controller="Home" asp-action="Index">
                        <img src="~/cargo.jpg" alt="Cargo Company" style="width: 100px; height: 50px; object-fit: cover;" />
                    </a>

                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="#" target="_blank" class="social-list__item__link icon-facebook"></a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" target="_blank" class="social-list__item__link icon-instagram"></a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" target="_blank" class="social-list__item__link icon-youtube"></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-6">
                    <ul class="footer-main__list">
                        <li class="footer-main__list__item">
                            <a href="/az/about-us.html" class="footer-main__list__item__link">Haqqımızda</a>
                        </li>
                        <li class="footer-main__list__item">
                            <a href="/az/tariff.html" class="footer-main__list__item__link">Tariflər</a>
                        </li>
                        <li class="footer-main__list__item">
                            <a href="/az/stores.html" class="footer-main__list__item__link">Mağazalar</a>
                        </li>
                        <li class="footer-main__list__item">
                            <a href="/az/services.html" class="footer-main__list__item__link">Xidmətlər</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6">
                    <ul class="footer-main__list">
                        <li class="footer-main__list__item">
                            <a href="/az/faq.html" class="footer-main__list__item__link">FAQ</a>
                        </li>
                        <li class="footer-main__list__item">
                            <a href="/az/contact.html" class="footer-main__list__item__link">Əlaqə</a>
                        </li>
                        <li class="footer-main__list__item">
                            <a href="/az/menu/dashinma-shartlari-68.html" class="footer-main__list__item__link">Daşınma şərtləri</a>
                        </li>
                        <li class="footer-main__list__item">
                            <a href="/az/menu/gizlilik-shartlari-70.html" class="footer-main__list__item__link">Gizlilik şərtləri</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="footer-main__block">
                        <div class="footer-main__block__app">
                            <a href="https://play.google.com/store/apps/details?id=az.vadi.app" target="_blank" class="footer-main__block__app__item">
                                <img src="/front/assets/images/logos/app/playstore.svg" class="img-fluid" alt="playstore">
                            </a>
                            <a href="https://apps.apple.com/bs/app/vadi-karqo/id1605375862" target="_blank" class="footer-main__block__app__item">
                                <img src="/front/assets/images/logos/app/appstore.svg" class="img-fluid" alt="appstore">
                            </a>
                        </div>
                        <div class="footer-main__block__app">
                            <a href="#" class="footer-main__block__app__item">
                                <img src="/images/visa.svg" class="img-fluid" alt="visa">
                            </a>
                            <a href="#" class="footer-main__block__app__item">
                                <img src="/images/mastercard.svg" class="img-fluid" alt="mastercard">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="wrapper">
            <div class="footer-copyright__holder">
                <span class="footer-copyright__holder__icon icon-copyright"></span>
                <span class="footer-copyright__holder__text">AdminPanel for CargoWebApp 2023. Bütün hüquqlar qorunur</span>
            </div>
        </div>
    </div>
</div>