<nav>
    <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
    </div>
    <div class="profile-details">
        <img src="~/images/avatar.png" alt="CargoApp User Avatar">

        @if (User.Identity.IsAuthenticated)
        {
            <span class="admin_name">@User.Identity.Name</span>
        }
    </div>
</nav>