<!DCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CargoApp AdminPanel</title>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <partial name="_SideBarMenu" />

    <section class="home-section">
        <partial name="_HeaderMenu" />

        <div class="home-content">
            <partial name="_TotalCountBoxes" />

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <main role="main" class="pb-3">
                            @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
    @RenderSection("LoginStyle", required: false)
    @*@RenderSection("FooterMenuStyle", required: false)*@
</body>
</html>
