<div class="overview-boxes">
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Shops</div>
            <div class="number">40,876</div>
        </div>
        <i class='bx bx-store cart'></i>
    </div>

    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Countries</div>
            <div class="number">@ViewBag.CountryCount</div>
        </div>
        <i class='bx bxs-business cart two'></i>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Users</div>
            <div class="number">$12,876</div>
        </div>
        <i class='bx bx-user-check cart three'></i>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total TEST</div>
            <div class="number">0</div>
        </div>
        <i class='bx bxs-cart-download cart four'></i>
    </div>
</div>