<div class="overview-boxes">   
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Countries</div>
            <div class="number">@ViewBag.TotalCountryCount</div>
        </div>
        <i class='bx bxs-business cart'></i>
    </div>

     <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Shops</div>
            <div class="number">@ViewBag.TotalShopCount</div>
        </div>
        <i class='bx bx-store cart two'></i>
    </div>

     <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Categories</div>
            <div class="number">@ViewBag.TotalCategoryCount</div>
        </div>
        <i class='bx bxs-category-alt cart three'></i>
    </div>

    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Users</div>
            <div class="number">@ViewBag.TotalUserCount</div>
        </div>
        <i class='bx bx-user-check cart four'></i>
    </div>
</div>