@model RegisterModel

@section LoginStyle
{
<link rel="stylesheet" href="~/css/login.css" />
}

<form asp-controller="Account" asp-action="Register" asp-route-returnUrl = "@ViewBag.ReturnUrl">
    <div>
        <h2 class="text-center text-primary"><i>Register</i></h2>

        <div class="form-group">
            <label for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="Surname">Surname</label>
            <input asp-for="Surname" type="text" class="form-control" placeholder="Enter surname">
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input asp-for="Email" type="text" class="form-control" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
        </div>     
        
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
        </div>     
        
        <div class="form-group">
            <label for="PhoneNumber">Phone number</label>
            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Enter phone number">
        </div>

        <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}